// colors:
$brown: #d87d4a;
$light_brown: #fbaf85;
$black: #000;
$almost_black: #101010;
$easy_white: #fff;
$medium_white: #fafafa;
$hard_white: #f1f1f1;
html {
  font-size: 62.5%;
}
body {
  font-family: "Manrope", sans-serif;

  header {
    .header-div {
      background-color: $almost_black;
      border-bottom: 1px solid $easy_white;
      padding: 3.2rem 2.4rem;
      display: flex;
      justify-content: space-between;

      .header-left-part {
        display: flex;
        gap: 6rem;

        a {
          button {
            background-color: inherit;
            border: none;
            cursor: pointer;
          }
        }
      }

      .header-links {
        display: none;

        .link-home:hover,
        .link-headphones:hover,
        .link-speakers:hover,
        .link-earphones:hover {
          color: $brown;
        }
      }

      .header-right-part {
        button {
          background-color: inherit;
          border: none;
        }
      }
    }

    // media for header div
    @media (min-width: 768px) {
      .header-div {
        padding: 3.7rem 4rem 3.2rem;
      }
    }

    @media (min-width: 1000px) {
      .header-div {
        .header-left-part {
          .hamburger-menu {
            display: none;
          }
        }

        .header-links {
          display: flex;
          gap: 3.4rem;

          a {
            text-transform: uppercase;
            text-decoration: none;
            color: $easy_white;
            font-size: 13px;
            font-weight: 700;
            line-height: 2.5rem;
            letter-spacing: 2px;
          }
        }
      }
    }

    @media (min-width: 1440px) {
      .header-div {
        padding: 3.2rem 16.5rem 3.6rem;
      }
    }

    // hidden div
    .hidden-div {
      padding: 8.4rem 2.4rem 3.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6.8rem;
      display: none;

      .div {
        width: 100%;
        height: 16.5rem;
        border-radius: 8px;
        background-color: $hard_white;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img-div {
          width: 13.8rem;
          height: 8.8rem;

          .accessory-img {
            position: relative;
            top: -4rem;
          }
        }

        .img-div-3 {
          width: 16.5rem;
        }

        p {
          font-size: 15px;
          font-weight: 900;
          line-height: 2rem;
          letter-spacing: 1.0714285373687744px;
          text-transform: uppercase;
        }

        a {
          margin: 17px 0 0;
          display: flex;
          align-items: center;
          gap: 13.32px;
          text-decoration: none;

          p {
            color: $black;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 1px;
          }

          img {
            width: 9px;
            height: 14px;
          }
        }

        a:hover {
          p {
            color: $brown;
          }
        }
      }
    }

    // media for hidden div
    @media (min-width: 550px) {
      .hidden-div {
        padding: 10.8rem 4rem 6.7rem;
        flex-direction: row;
        justify-content: center;
        gap: 10px;

        .div {
          max-width: 35rem;
        }
      }
    }
  }

  main {
    position: relative;
    background-color: $medium_white;

    // a tag
    .goBack {
      display: inline-block;
      margin: 16px 0 0 2.4rem;
      text-decoration: none;
      color: $black;
    }

    // media for a
    @media (min-width: 768px) {
      .goBack {
        margin: 3.9rem 0 0 4.8rem;
      }
    }

    @media (min-width: 1440px) {
      .goBack {
        margin: 7.9rem 0 0 16.5rem;
      }
    }

    // form
    .form-container {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      margin: 2.4rem 2.4rem 0;
      padding-bottom: 12rem;

      form {
        background-color: $medium_white;
        display: flex;
        flex-direction: column;
        gap: 3.2rem;

        .form-top {
          background-color: $easy_white;
          padding: 2.4rem 2.4rem 3.2rem;
          border-radius: 8px;

          h1 {
            text-transform: uppercase;
            font-size: 2.8rem;
            font-weight: 700;
            line-height: 3.8rem;
            letter-spacing: 1px;
          }

          .details {
            margin: 3.2rem 0 0;

            h3 {
              text-transform: uppercase;
              color: $brown;
              font-size: 13px;
              font-weight: 700;
              line-height: 2.5rem;
              letter-spacing: 0.9285714030265808px;
            }

            .payment {
              display: flex;
              flex-direction: column;
              gap: 17px;

              p {
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                letter-spacing: -0.2142857164144516px;
                margin: 16px 0 0;
              }

              .label-div {
                .choice-1,
                .choice-2 {
                  width: 100%;
                  height: 5.6rem;
                  border: 1px solid #cfcfcf;
                  border-radius: 8px;
                  cursor: pointer;

                  label {
                    height: 100%;
                    padding: 0 0 0 16px;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 19px;
                    letter-spacing: -0.25px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    &:before {
                      content: "";
                      width: 2rem;
                      height: 2rem;
                      border: solid 5px #fff;
                      border-radius: 12px;
                      box-shadow: 0 0 0 1px #cfcfcf;
                      display: inline-block;
                    }
                  }

                  input {
                    display: none;
                    cursor: pointer;

                    &:checked + label:before {
                      background-color: $brown;
                    }
                  }
                }

                .choice-2 {
                  margin: 16px 0 0;
                }
              }
            }

            .input-field {
              display: flex;
              flex-direction: column;
              gap: 2.4rem;
              margin: 16px 0 0;

              .input {
                display: flex;
                flex-direction: column;
                gap: 9px;

                label {
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 16px;
                  letter-spacing: -0.2142857164144516px;
                  display: flex;
                  justify-content: space-between;

                  small {
                    font-weight: 500;
                    display: none;
                  }
                }

                input {
                  border: 1px solid #cfcfcf;
                  border-radius: 8px;
                  padding: 1.8rem 0 1.9rem 2.4rem;
                }

                input:invalid {
                  border: 2px solid #cd2c2c;
                }
              }

              .input-5,
              .input-8,
              .input-9 {
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                input[type="number"] {
                  -moz-appearance: textfield;
                }
              }
            }
          }

          .card-info {
            display: none;
          }

          .information {
            display: flex;
            align-items: center;
            gap: 3.2rem;
            margin: 3rem 0 0;

            img {
              width: 4.8rem;
              height: 4.8rem;
            }

            p {
              font-size: 15px;
              font-weight: 500;
              line-height: 2.5rem;
              letter-spacing: 0px;
              text-align: left;
              max-width: 55.4rem;
            }

            display: none;
          }
        }
      }

      .form-bottom {
        background-color: $easy_white;
        padding: 3.2rem 2.4rem;
        border-radius: 8px;

        h2 {
          font-size: 18px;
          font-weight: 700;
          line-height: 2.5rem;
          letter-spacing: 1.2857142686843872px;
          text-transform: uppercase;
        }

        .product-list {
          margin: 3.1rem 0 0;

          .product {
            .product-info {
              align-items: center;
              .product-img {
                img {
                  border-radius: 8px;
                }
              }
            }

            .selected-amount {
              // align-self: flex-start;

              p {
                font-size: 15px;
                font-weight: 700;
                line-height: 2.5rem;
                letter-spacing: 0px;
              }
            }
          }
        }

        .pay-amount {
          margin: 3.2rem 0 0;

          .pay {
            display: flex;
            justify-content: space-between;
            margin: 0;

            .name-of-pay {
              font-size: 15px;
              font-weight: 500;
              line-height: 2.5rem;
              letter-spacing: 0px;
            }

            .price-of-product {
              font-size: 18px;
              font-weight: 700;
              line-height: 2.5rem;
              letter-spacing: 0px;
            }
          }

          .pay-2,
          .pay-3 {
            margin: 8px 0 0;
          }

          .pay-4 {
            margin: 2.4rem 0 0;

            .price-of-product {
              color: $brown;
            }
          }
        }

        button {
          margin: 3.2rem 0 0;
          cursor: pointer;
          border: none;
          height: 4.8rem;
          width: 100%;
          background-color: $brown;
          color: $easy_white;
          font-size: 13px;
          font-weight: 700;
          line-height: 18px;
          letter-spacing: 1px;
        }

        button:hover,
        button:active {
          background-color: $light_brown;
        }
      }
    }

    // media for form and form-bottom
    @media (min-width: 768px) {
      .form-container {
        margin-inline: 4rem;
        padding-bottom: 9.6rem;

        form {
          .form-top {
            padding: 3rem 2.8rem;

            h1 {
              font-size: 3.2rem;
              font-weight: 700;
              line-height: 3.6rem;
              letter-spacing: 1.1428571939468384px;
            }

            .billing-details {
              margin: 4.1rem 0 0;

              .input-field {
                display: grid;
                grid-template-columns: 1fr 1fr;
              }
            }

            .shipping-info {
              margin: 5.3rem 0 0;

              .input-field {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .input-4 {
                  grid-column: 1/3;
                }
              }
            }

            .payment-details {
              margin: 6.1rem 0 0;

              .payment {
                display: grid;
                grid-template-columns: 1fr 1fr;
              }
            }

            .card-info,
            .information {
              margin: 2.4rem 0 0;
            }

            .card-info {
              .input-field {
                display: grid;
                grid-template-columns: 1fr 1fr;
              }
            }
          }
        }

        .form-bottom {
          padding: 3.3rem;
        }
      }
    }

    @media (min-width: 1100px) {
      .form-container {
        display: grid;
        grid-template-columns: 1fr 40rem;
        align-items: start;
      }
    }

    @media (min-width: 1440px) {
      .form-container {
        margin: 0;
        padding: 3.8rem 16.5rem 20rem;
      }
    }
  }

  footer {
    padding: 5.2rem 2.4rem 3.8rem;
    background-color: $black;
    color: $easy_white;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    text-align: center;

    .footer-flex-top {
      display: flex;
      flex-direction: column;
      gap: 4.8rem;

      a {
        img {
          margin: 0 auto;
        }
      }

      .footer-links {
        display: flex;
        flex-direction: column;
        gap: 16px;

        a {
          text-transform: uppercase;
          text-decoration: none;
          color: $easy_white;
          font-size: 13px;
          font-weight: 700;
          line-height: 2.5rem;
          letter-spacing: 2px;
        }

        a:hover {
          color: $brown;
        }
      }
    }

    .big-p {
      font-size: 15px;
      font-weight: 500;
      line-height: 2.5rem;
      letter-spacing: 0px;
    }

    .footer-flex-bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4.8rem;

      .small-p {
        font-size: 15px;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: 0px;
      }

      .social-links {
        display: flex;
        gap: 16px;
        align-items: center;
      }
    }
  }

  //media for footer
  @media (min-width: 768px) {
    footer {
      //margin and padding
      padding: 6rem 4rem 4.6rem 3.9rem;
      gap: 0;

      .footer-flex-top {
        gap:3.2rem;

        a {
          img {
            margin: 0;
          }
        }

        .footer-links {
          flex-direction: row;
          gap: 3.4rem;
        }
      }

      .big-p {
        margin: 3.2rem 0 0;
        text-align: left;
        max-width: 68.9rem;
      }

      .footer-flex-bottom {
        margin: 8rem 0 0;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  @media (min-width: 1440px) {
    footer {
      padding: 7.5rem 16.5rem 4.8rem;

      .footer-flex-top {
        flex-direction: row;
        justify-content: space-between;
      }

      .big-p {
        max-width: 54rem;
        margin: 3.6rem 0 0;
      }

      .footer-flex-bottom {
        margin: 5.6rem 0 0;

        .social-links {
          position: relative;
          bottom: 7.7rem;
        }
      }
    }
  }
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2.4rem;

  .product-info {
    display: flex;
    gap: 16px;

    .product-name-and-price {
      display: flex;
      flex-direction: column;

      .product-name {
        font-size: 15px;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: 0px;
      }

      .product-price {
        font-size: 14px;
        font-weight: 500;
        line-height: 2.5rem;
        letter-spacing: 0px;
      }
    }
  }

  .mini-increase-decrease {
    width: 9.6rem;
    height: 3.2rem;
    padding: 0 11.5px;
    background-color: $hard_white;
    gap: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      border: none;
      cursor: pointer;
      font-size: 13px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 1px;
    }

    button:hover,
    button:active {
      color: $brown;
    }

    p {
      font-size: 13px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 1px;
    }
  }
}

#overlay {
  position: fixed;
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; 
  cursor: pointer; 
}

.products {
  position: absolute;
  top: 12.24rem;
  right: 2.4rem;
  left: 2.4rem;
  padding: 3.1rem 2.8rem;
  max-width: 100%;
  border-radius: 8px;
  background-color: $easy_white;

  .number-of-products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3.1rem;

    h2 {
      font-size: 18px;
      font-weight: 700;
      line-height: 2.5rem;
      letter-spacing: 1.2857142686843872px;
    }

    p {
      font-size: 15px;
      font-weight: 500;
      line-height: 2.5rem;
      letter-spacing: 0px;
      text-decoration: underline;
      cursor: pointer;
    }

    p:hover {
      color: $brown;
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.2rem 0 0;

    p {
      font-size: 15px;
      font-weight: 500;
      line-height: 2.5rem;
      letter-spacing: 0px;
      text-transform: uppercase;
    }

    .price {
      font-size: 18px;
      font-weight: 700;
    }
  }

  a {
    button {
      margin: 2.4rem 0 0;
      width: 100%;
      height: 4.8rem;
      border: none;
      cursor: pointer;
      background-color: $brown;
      font-size: 13px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $easy_white;
    }

    button:hover {
      background-color: $light_brown;
    }
  }
}

// media for that
@media (min-width: 425px) {
  .products {
    width: 37.7rem;
    right: 0;
    left: calc(100% - 37.7rem - 2.4rem);
  }
}

@media (min-width: 768px) {
  .products {
    top: 12.74rem;
    left: calc(100% - 37.7rem - 4rem);
  }
}

@media (min-width: 1440px) {
  .products {
    top: 12.64rem;
    left: calc(100% - 37.7rem - 16.5rem);
  }
}

// thank you note
.thank_you_note {
  display: none;
  position: absolute;
  background-color: $easy_white;
  border-radius: 8px;
  top: 6rem;
  left: 2.4rem;
  right: 2.4rem;
  max-width: 45.2rem;
  padding: 3.2rem;

  h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.8rem;
    letter-spacing: 0.8571428656578064px;
    text-transform: uppercase;
    margin: 2.3rem 0 0;
  }

  p {
    font-size: 15px;
    font-weight: 500;
    line-height: 2.5rem;
    letter-spacing: 0px;
    margin: 16px 0 0;
  }

  .itemsInfo {
    margin: 2.4rem 0 0;
    display: flex;
    flex-direction: column;

    .itemsListed {
      background-color: $hard_white;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding: 2.4rem;

      .listed {
        .product {
          margin: 0;

          .product-info {
            align-items: center;
          }

          .selected-amount {
            display: flex;
            align-items: center;

            p {
              margin: 0;
            }
          }
        }
      }

      .border-div {
        width: 100%;
        height: 1px;
        background-color: #cfcfcf;
        margin: 12px 0 0;
      }

      .divForP {
        width: 100%;
        display: flex;
        justify-content: center;

        p {
          margin: 12px 0 0;
          font-size: 12px;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: -0.2142857164144516px;
        }
      }
    }

    .itemsPrice {
      background-color: $black;
      color: $easy_white;
      padding: 15px 0 1.9rem 2.4rem;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      p {
        color: #cfcfcf;
        opacity: 0.7;
        margin: 0;
        font-size: 15px;
        font-weight: 500;
        line-height: 2.5rem;
        letter-spacing: 0px;
        text-transform: uppercase;
      }

      h3 {
        margin: 8px 0 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: 0px;
      }
    }
  }

  a {
    button {
      margin: 2.3rem 0 0;
      padding-block: 15px;
      width: 100%;
      font-size: 13px;
      font-weight: 700;
      line-height: 18px;
      letter-spacing: 1px;
      color: $easy_white;
      background-color: $brown;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
    }

    button:hover,
    button:active {
      background-color: $light_brown;
    }
  }
}

// media for thank you note
@media (min-width: 500px) {
  .thank_you_note {
    left: calc(50% - 22.6rem);
  }
}

@media (min-width: 768px) {
  .thank_you_note {
    padding: 4.8rem;
    left: calc(50% - 27rem);
    top: 7rem;
    max-width: 54rem;

    h1 {
      margin: 3.3rem 0 0;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 3.6rem;
      letter-spacing: 1.1428571939468384px;
    }

    p {
      margin: 2.4rem 0 0;
    }

    .itemsInfo {
      margin: 3.3rem 0 0;
      flex-direction: row;

      .itemsListed {
        flex: 1;
        border-radius: 0;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      .itemsPrice {
        max-width: 19.8rem;
        flex: 1;
        border-radius: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    a {
      button {
        margin: 4.6rem 0 0;
      }
    }
  }
}
