html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
}
body header .header-div {
  background-color: #101010;
  border-bottom: 1px solid #fff;
  padding: 3.2rem 2.4rem;
  display: flex;
  justify-content: space-between;
}
body header .header-div .header-left-part {
  display: flex;
  gap: 6rem;
}
body header .header-div .header-left-part a button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
body header .header-div .header-links {
  display: none;
}
body header .header-div .header-links .link-home:hover,
body header .header-div .header-links .link-headphones:hover,
body header .header-div .header-links .link-speakers:hover,
body header .header-div .header-links .link-earphones:hover {
  color: #d87d4a;
}
body header .header-div .header-right-part button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  body header .header-div {
    padding: 37px 40px 32px;
  }
}
@media (min-width: 1000px) {
  body header .header-div .header-left-part .hamburger-menu {
    display: none;
  }
  body header .header-div .header-links {
    display: flex;
    gap: 3.4rem;
  }
  body header .header-div .header-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 2px;
  }
}
@media (min-width: 1440px) {
  body header .header-div {
    padding: 3.2rem 16.5rem 3.6rem;
  }
}
body header .hidden-div {
  padding: 8.4rem 2.4rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.8rem;
  display: none;
}
body header .hidden-div .div {
  width: 100%;
  height: 16.5rem;
  border-radius: 8px;
  background-color: #f1f1f1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header .hidden-div .div .img-div {
  width: 13.8rem;
  height: 8.8rem;
}
body header .hidden-div .div .img-div .accessory-img {
  position: relative;
  top: -4rem;
}
body header .hidden-div .div .img-div-3 {
  width: 165px;
}
body header .hidden-div .div p {
  font-size: 15px;
  font-weight: 900;
  line-height: 2rem;
  letter-spacing: 1.0714285374px;
  text-transform: uppercase;
}
body header .hidden-div .div a {
  margin: 17px 0 0;
  display: flex;
  align-items: center;
  gap: 13.32px;
  text-decoration: none;
}
body header .hidden-div .div a p {
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
}
body header .hidden-div .div a img {
  width: 9px;
  height: 14px;
}
body header .hidden-div .div a:hover p {
  color: #d87d4a;
}
@media (min-width: 550px) {
  body header .hidden-div {
    padding: 10.8rem 4rem 6.7rem;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  body header .hidden-div .div {
    max-width: 35rem;
  }
}
body main {
  position: relative;
}
body main .goBack {
  display: inline-block;
  margin: 16px 0 0 2.4rem;
  text-decoration: none;
  color: #000;
}
body main .section-1 {
  padding: 2.4rem 2.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
body main .section-1 .product-img picture img {
  border-radius: 8px;
  margin: 0 auto;
}
body main .section-1 .product-content h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 10px;
  color: #d87d4a;
  text-transform: uppercase;
}
body main .section-1 .product-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 2.4rem 0 0;
}
body main .section-1 .product-content .description {
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
  margin: 2.4rem 0 0;
}
body main .section-1 .product-content .pricing {
  margin: 2.4rem 0 0;
}
body main .section-1 .product-content .pricing .price {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 1.2857142687px;
}
body main .section-1 .product-content .pricing .amount {
  margin: 3.1rem 0 0;
  display: flex;
  gap: 16px;
}
body main .section-1 .product-content .pricing .amount .increase-decrease {
  width: 12rem;
  height: 4.8rem;
  padding: 0 15.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: #f1f1f1;
}
body main .section-1 .product-content .pricing .amount .increase-decrease button {
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  background-color: inherit;
  color: #000;
}
body main .section-1 .product-content .pricing .amount .increase-decrease button:hover,
body main .section-1 .product-content .pricing .amount .increase-decrease button:active {
  color: #d87d4a;
  background-color: inherit;
}
body main .section-1 .product-content .pricing .amount .increase-decrease p {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}
body main .section-1 .product-content .pricing .amount button {
  width: 16rem;
  height: 4.8rem;
  background-color: #d87d4a;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}
body main .section-1 .product-content .pricing .amount button:hover,
body main .section-1 .product-content .pricing .amount button:active {
  background-color: #fbaf85;
}
@media (min-width: 768px) {
  body main .goBack {
    margin: 3.3rem 0 0 4rem;
  }
  body main .section-1 {
    padding: 2.4rem 3.9rem 0;
    flex-direction: row;
    align-items: center;
    gap: 6.9rem;
  }
  body main .section-1 .product-content h3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 8.571428299px;
  }
  body main .section-1 .product-content h1 {
    line-height: 3.2rem;
  }
  body main .section-1 .product-content .description {
    margin: 3.2rem 0 0;
  }
  body main .section-1 .product-content .pricing {
    margin: 3.2rem 0 0;
  }
}
@media (min-width: 1440px) {
  body main .goBack {
    margin: 7.9rem 0 0 16.5rem;
  }
  body main .section-1 {
    padding: 5.6rem 16.5rem 0;
    gap: 12.45rem;
  }
  body main .section-1 .product-content h3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.9rem;
    letter-spacing: 10px;
  }
  body main .section-1 .product-content h1 {
    margin: 16px 0 0;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.4rem;
    letter-spacing: 1.4285714626px;
  }
  body main .section-1 .product-content .pricing .amount {
    margin: 4.7rem 0 0;
  }
}
body main .section-2 {
  padding: 8.8rem 2.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 8.8rem;
}
body main .section-2 .info-1 h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.8571428657px;
  text-transform: uppercase;
}
body main .section-2 .info-1 p {
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
  margin: 2.4rem 0 0;
}
body main .section-2 .info-2 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
body main .section-2 .info-2 h2 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.8571428657px;
}
body main .section-2 .info-2 .inner-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
body main .section-2 .info-2 .inner-info p {
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
}
body main .section-2 .info-2 .inner-info p span {
  font-weight: 700;
  color: #d87d4a;
  margin: 0 2.4rem 0 0;
}
@media (min-width: 768px) {
  body main .section-2 {
    padding: 12rem 4rem 0;
    gap: 12rem;
  }
  body main .section-2 .info-1 h2 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.6rem;
    letter-spacing: 1.1428571939px;
  }
  body main .section-2 .info-1 .top-p {
    margin: 3.2rem 0 0;
  }
  body main .section-2 .info-2 {
    flex-direction: row;
    gap: 16.9rem;
  }
  body main .section-2 .info-2 h2 {
    font-size: 3.2rem;
    letter-spacing: 1.1428571939px;
  }
}
@media (min-width: 1440px) {
  body main .section-2 {
    padding: 16rem 16.5rem 0;
    gap: 12.5rem;
    flex-direction: row;
  }
  body main .section-2 .info-1 {
    max-width: 62.5rem;
  }
  body main .section-2 .info-2 {
    flex-direction: column;
    gap: 3.2rem;
  }
}
body main .section-3 {
  padding: 8.8rem 2.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
body main .section-3 .left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
body main .section-3 .left .img picture img,
body main .section-3 .right .img picture img {
  border-radius: 8px;
}
@media (min-width: 768px) {
  body main .section-3 {
    padding: 12rem 3.9rem 0;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
  }
  body main .section-3 .left {
    gap: 2rem;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  body main .section-3 {
    padding: 16rem 16.5rem 0;
  }
}
body main .section-4 {
  padding: 12rem 2.4rem 0;
}
body main .section-4 h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: 0.8571428657px;
  text-transform: uppercase;
  text-align: center;
}
body main .section-4 .sugestions {
  margin: 4rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
}
body main .section-4 .sugestions .sugestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
body main .section-4 .sugestions .sugestion .sugestion-image picture img {
  border-radius: 8px;
}
body main .section-4 .sugestions .sugestion .sugestion-content h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.3rem;
  letter-spacing: 1.7142857313px;
}
body main .section-4 .sugestions .sugestion .sugestion-content a {
  margin: 0;
}
body main .section-4 .sugestions .sugestion .sugestion-content a button {
  margin: 2.8rem 0 0;
  width: 16rem;
  height: 4.8rem;
  background-color: #d87d4a;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}
body main .section-4 .sugestions .sugestion .sugestion-content a button:hover,
body main .section-4 .sugestions .sugestion .sugestion-content a button:active {
  background-color: #fbaf85;
}
@media (min-width: 768px) {
  body main .section-4 {
    padding-inline: 3.9rem;
  }
  body main .section-4 h2 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.6rem;
    letter-spacing: 1.1428571939px;
  }
  body main .section-4 .sugestions {
    margin: 5.6rem 0 0;
    flex-direction: row;
    gap: 11px;
  }
  body main .section-4 .sugestions .sugestion {
    gap: 4rem;
  }
  body main .section-4 .sugestions .sugestion .sugestion-content a button {
    margin: 3.2rem 0 0;
  }
}
@media (min-width: 1440px) {
  body main .section-4 {
    padding: 16rem 16.5rem 0;
  }
  body main .section-4 .sugestions {
    margin: 6.4rem 0 0;
    gap: 3rem;
  }
}
body main .section-5 {
  padding: 12rem 2.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.8rem;
}
body main .section-5 .div {
  width: 32.7rem;
  height: 16.5rem;
  border-radius: 8px;
  background-color: #f1f1f1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .section-5 .div .img-div {
  width: 13.8rem;
  height: 8.8rem;
}
body main .section-5 .div .img-div .accessory-img {
  position: relative;
  top: -4rem;
}
body main .section-5 .div .img-div-3 {
  width: 16.5rem;
}
body main .section-5 .div p {
  font-size: 15px;
  font-weight: 900;
  line-height: 2rem;
  letter-spacing: 1.0714285374px;
  text-transform: uppercase;
}
body main .section-5 .div a {
  margin: 17px 0 0;
  display: flex;
  align-items: center;
  gap: 13.32px;
  text-decoration: none;
}
body main .section-5 .div a p {
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
}
body main .section-5 .div a img {
  width: 9px;
  height: 14px;
}
body main .section-5 .div a:hover p {
  color: #d87d4a;
}
@media (min-width: 768px) {
  body main .section-5 {
    padding-inline: 3.9rem;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
  }
  body main .section-5 .div {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  body main .section-5 {
    gap: 3rem;
  }
}
@media (min-width: 1440px) {
  body main .section-5 {
    padding: 16rem 16.5rem 0 16.5rem;
  }
}
body main .section-6 {
  padding: 12rem 2.4rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .section-6 picture img {
  max-width: 100%;
  border-radius: 8px;
}
body main .section-6 .text-content h2 {
  margin: 4rem 0 0;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 1px;
}
body main .section-6 .text-content h2 span {
  color: #d87d4a;
}
body main .section-6 .text-content p {
  max-width: 57.3rem;
  margin: 3.2rem 0 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
}
@media (min-width: 768px) {
  body main .section-6 {
    padding: 12rem 3.9rem 0;
  }
  body main .section-6 .text-content h2 {
    max-width: 57.3rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.4rem;
    letter-spacing: 1.4285714626px;
    margin: 6.3rem 0 0;
  }
}
@media (min-width: 1440px) {
  body main .section-6 {
    padding: 16rem 16.5rem 0;
    flex-direction: row-reverse;
    gap: 12.5rem;
    text-align: left;
  }
  body main .section-6 .text-content h2 {
    max-width: 44.5rem;
  }
  body main .section-6 .text-content p {
    max-width: 44.5rem;
  }
}
body footer {
  margin: 12rem 0 0;
  padding: 5.2rem 2.4rem 3.8rem;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  text-align: center;
}
body footer .footer-flex-top {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
body footer .footer-flex-top a img {
  margin: 0 auto;
}
body footer .footer-flex-top .footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body footer .footer-flex-top .footer-links a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 2px;
}
body footer .footer-flex-top .footer-links a:hover {
  color: #d87d4a;
}
body footer .big-p {
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
}
body footer .footer-flex-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}
body footer .footer-flex-bottom .small-p {
  font-size: 15px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0px;
}
body footer .footer-flex-bottom .social-links {
  display: flex;
  gap: 16px;
  align-items: center;
}
@media (min-width: 768px) {
  body footer {
    padding: 6rem 4rem 4.6rem 3.9rem;
    gap: 0;
  }
  body footer .footer-flex-top {
    gap: 3.2rem;
  }
  body footer .footer-flex-top a img {
    margin: 0;
  }
  body footer .footer-flex-top .footer-links {
    flex-direction: row;
    gap: 3.4rem;
  }
  body footer .big-p {
    margin: 3.2rem 0 0;
    text-align: left;
    max-width: 68.9rem;
  }
  body footer .footer-flex-bottom {
    margin: 8rem 0 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  body footer {
    margin: 16rem 0 0;
    padding: 7.5rem 16.5rem 4.8rem;
  }
  body footer .footer-flex-top {
    flex-direction: row;
    justify-content: space-between;
  }
  body footer .big-p {
    max-width: 54rem;
    margin: 3.6rem 0 0;
  }
  body footer .footer-flex-bottom {
    margin: 5.6rem 0 0;
  }
  body footer .footer-flex-bottom .social-links {
    position: relative;
    bottom: 7.7rem;
  }
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2.4rem;
}
.product .product-info {
  display: flex;
  gap: 16px;
}
.product .product-info .product-name-and-price {
  display: flex;
  flex-direction: column;
}
.product .product-info .product-name-and-price .product-name {
  font-size: 15px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0px;
}
.product .product-info .product-name-and-price .product-price {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
}
.product .mini-increase-decrease {
  width: 9.6rem;
  height: 3.2rem;
  padding: 0 11.5px;
  background-color: #f1f1f1;
  gap: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .mini-increase-decrease button {
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}
.product .mini-increase-decrease button:hover,
.product .mini-increase-decrease button:active {
  color: #d87d4a;
}
.product .mini-increase-decrease p {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.products {
  position: absolute;
  top: 12.24rem;
  right: 2.4rem;
  left: 2.4rem;
  padding: 3.1rem 2.8rem;
  max-width: 100%;
  border-radius: 8px;
  background-color: #fff;
}
.products .number-of-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3.1rem;
}
.products .number-of-products h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 1.2857142687px;
}
.products .number-of-products p {
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
  text-decoration: underline;
  cursor: pointer;
}
.products .number-of-products p:hover {
  color: #d87d4a;
}
.products .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.2rem 0 0;
}
.products .total p {
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.products .total .price {
  font-size: 1.8rem;
  font-weight: 700;
}
.products a button {
  margin: 2.4rem 0 0;
  width: 100%;
  height: 4.8rem;
  border: none;
  cursor: pointer;
  background-color: #d87d4a;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.products a button:hover {
  background-color: #fbaf85;
}

@media (min-width: 425px) {
  .products {
    width: 37.7rem;
    right: 0;
    left: calc(100% - 37.7rem - 2.4rem);
  }
}
@media (min-width: 768px) {
  .products {
    top: 12.74rem;
    left: calc(100% - 37.7rem - 4rem);
  }
}
@media (min-width: 1440px) {
  .products {
    top: 12.64rem;
    left: calc(100% - 37.7rem - 16.5rem);
  }
}/*# sourceMappingURL=product.css.map */