html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
}
body header .header-div {
  background-color: #101010;
  border-bottom: 1px solid #fff;
  padding: 3.2rem 2.4rem;
  display: flex;
  justify-content: space-between;
}
body header .header-div .header-left-part {
  display: flex;
  gap: 6rem;
}
body header .header-div .header-left-part a button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
body header .header-div .header-links {
  display: none;
}
body header .header-div .header-links .link-home:hover,
body header .header-div .header-links .link-headphones:hover,
body header .header-div .header-links .link-speakers:hover,
body header .header-div .header-links .link-earphones:hover {
  color: #d87d4a;
}
body header .header-div .header-right-part button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  body header .header-div {
    padding: 3.7rem 4rem 3.2rem;
  }
}
@media (min-width: 1000px) {
  body header .header-div .header-left-part .hamburger-menu {
    display: none;
  }
  body header .header-div .header-links {
    display: flex;
    gap: 3.4rem;
  }
  body header .header-div .header-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 2px;
  }
}
@media (min-width: 1440px) {
  body header .header-div {
    padding: 3.2rem 16.5rem 3.6rem;
  }
}
body header .hidden-div {
  padding: 8.4rem 2.4rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.8rem;
  display: none;
}
body header .hidden-div .div {
  width: 100%;
  height: 16.5rem;
  border-radius: 0.8rem;
  background-color: #f1f1f1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body header .hidden-div .div .img-div {
  width: 13.8rem;
  height: 8.8rem;
}
body header .hidden-div .div .img-div .accessory-img {
  position: relative;
  top: -4rem;
}
body header .hidden-div .div .img-div-3 {
  width: 16.5rem;
}
body header .hidden-div .div p {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 2rem;
  letter-spacing: 1.0714285374px;
  text-transform: uppercase;
}
body header .hidden-div .div a {
  margin: 1.7rem 0 0;
  display: flex;
  align-items: center;
  gap: 133.2rem;
  text-decoration: none;
}
body header .hidden-div .div a p {
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
}
body header .hidden-div .div a img {
  width: 9px;
  height: 14px;
}
body header .hidden-div .div a:hover p {
  color: #d87d4a;
}
@media (min-width: 550px) {
  body header .hidden-div {
    padding: 10.8rem 4rem 6.7rem;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  body header .hidden-div .div {
    max-width: 35rem;
  }
}
body main {
  position: relative;
}
body main .section-1 {
  padding: 10.8rem 2.4rem 11.2rem;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../assets/home/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body main .section-1 h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 10px;
  color: #fff;
  text-transform: uppercase;
}
body main .section-1 h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 1.2857142687px;
  color: #fff;
  margin: 16px 0 0;
}
body main .section-1 p {
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
  color: #fff;
  max-width: 32.8rem;
  margin: 24px 0 0;
  text-align: center;
}
body main .section-1 a button {
  margin: 2.8rem 0 0;
  width: 16rem;
  height: 4.8rem;
  background-color: #d87d4a;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
}
body main .section-1 a button:hover,
body main .section-1 a button:active {
  background-color: #fbaf85;
}
@media (min-width: 768px) {
  body main .section-1 {
    background-image: url(../assets/home/tablet/image-header.jpg);
    background-size: cover;
    padding: 12.6rem 19.5rem 16.2rem 19.4rem;
  }
  body main .section-1 h1 {
    font-size: 5.6rem;
    line-height: 5.8rem;
    letter-spacing: 2px;
    margin: 2.4rem 0 0;
  }
  body main .section-1 p {
    margin: 2.4rem;
    max-width: 34.9rem;
  }
  body main .section-1 a button {
    margin: 4rem 0 0;
  }
}
@media (min-width: 1440px) {
  body main .section-1 {
    background-image: url(../assets/home/desktop/image-hero.jpg);
    background-size: cover;
    display: block;
    padding: 12.8rem 0 15.8rem 16.5rem;
  }
  body main .section-1 h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 5.8rem;
    letter-spacing: 2px;
    text-align: left;
  }
  body main .section-1 p {
    margin: 2.4rem 0 0;
    text-align: left;
  }
}
body main .section-2 {
  padding: 9.2rem 2.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.8rem;
}
body main .section-2 .div {
  width: 32.7rem;
  height: 16.5rem;
  border-radius: 8px;
  background-color: #f1f1f1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .section-2 .div .img-div {
  width: 13.8rem;
  height: 8.8rem;
}
body main .section-2 .div .img-div .accessory-img {
  position: relative;
  top: -4rem;
}
body main .section-2 .div .img-div-3 {
  width: 16.5rem;
}
body main .section-2 .div p {
  font-size: 15px;
  font-weight: 900;
  line-height: 2rem;
  letter-spacing: 1.0714285374px;
  text-transform: uppercase;
}
body main .section-2 .div a {
  margin: 17px 0 0;
  display: flex;
  align-items: center;
  gap: 13.32px;
  text-decoration: none;
}
body main .section-2 .div a p {
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
}
body main .section-2 .div a img {
  width: 9px;
  height: 14px;
}
body main .section-2 .div a:hover p {
  color: #d87d4a;
}
@media (min-width: 768px) {
  body main .section-2 {
    padding: 10.1rem 4rem 0 3.9rem;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  body main .section-2 .div {
    max-width: 35rem;
  }
}
@media (min-width: 1440px) {
  body main .section-2 {
    padding: 0;
    margin: 12.7rem 11.5% 0 11.5%;
    width: 77%;
    gap: 3rem;
  }
  body main .section-2 .div {
    width: 31.53%;
    height: 20.4rem;
  }
}
body main .section-3 {
  padding: 6.3rem 2.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
body main .section-3 .product-div-1 {
  border-radius: 8px;
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #d87d4a;
  background-image: url(../assets/home/mobile/image-speaker-zx9.png), url(../assets/home/desktop/pattern-circles.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 17.225rem 20.7rem, 55.8rem;
  background-position: center top 5.5rem, center top -12.2rem;
}
body main .section-3 .product-div-1 h1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 1.2857142687px;
  color: #fff;
  margin: 29.4rem 0 0;
  text-transform: uppercase;
}
body main .section-3 .product-div-1 p {
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
  color: #fff;
  margin: 2.4rem 0 0;
  max-width: 28rem;
}
body main .section-3 .product-div-1 a {
  margin: 2.4rem 0 5.5rem;
}
body main .section-3 .product-div-1 a button {
  background-color: #000;
  color: #fff;
  margin: 0;
  width: 16rem;
  height: 4.8rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}
body main .section-3 .product-div-1 a button:hover {
  background-color: #4c4c4c;
}
@media (min-width: 768px) {
  body main .section-3 .product-div-1 {
    padding: 0 16.9rem 0 17.1rem;
    background-image: url(../assets/home/tablet/image-speaker-zx9.png), url(../assets/home/desktop/pattern-circles.svg);
    background-size: 19.7rem 23.7rem, 94.4rem;
    background-position: center top 5.2rem, center top -25.5rem;
  }
  body main .section-3 .product-div-1 h1 {
    font-size: 5.6rem;
    line-height: 5.8rem;
    letter-spacing: 2px;
    margin: 35.3rem 0 0;
  }
  body main .section-3 .product-div-1 p {
    max-width: 34.9rem;
  }
  body main .section-3 .product-div-1 a {
    margin: 4rem 0 12.4rem;
  }
}
@media (min-width: 1440px) {
  body main .section-3 .product-div-1 {
    padding: 13.3rem 9.5rem 12.4rem 66.6rem;
    background-image: url(../assets/home/desktop/image-speaker-zx9.png), url(../assets/home/desktop/pattern-circles.svg);
    background-size: 41.023rem 49.3rem, 94.4rem;
    background-position: left 11.749rem bottom -1.3rem, left -15rem top -4rem;
    text-align: left;
    display: block;
  }
  body main .section-3 .product-div-1 h1 {
    margin: 0;
  }
  body main .section-3 .product-div-1 p {
    margin: 2.4rem 0 4rem;
  }
}
body main .section-3 .product-div-2 {
  border-radius: 8px;
  padding: 10.1rem 0 10.1rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f1f1f1;
  background-image: url(../assets/home/mobile/image-speaker-zx7.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
body main .section-3 .product-div-2 h2 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 2px;
  color: #000;
}
body main .section-3 .product-div-2 a {
  margin: 3.2rem 0 0;
}
body main .section-3 .product-div-2 a button {
  background-color: inherit;
  width: 16rem;
  height: 4.8rem;
  border: 2px solid #000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #000;
}
body main .section-3 .product-div-2 a button:hover {
  background-color: #000;
  color: #fff;
}
@media (min-width: 768px) {
  body main .section-3 .product-div-2 {
    padding: 10.1rem 0 10.1rem 6.2rem;
    background-image: url(../assets/home/tablet/image-speaker-zx7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (min-width: 1440px) {
  body main .section-3 .product-div-2 {
    padding: 10.1rem 0 10.1rem 9.5rem;
    background-image: url(../assets/home/desktop/image-speaker-zx7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
body main .section-3 .product-div-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}
body main .section-3 .product-div-3 .top-part {
  background-color: #000;
  background-image: url("../assets/home/mobile/image-earphones-yx1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20rem;
}
body main .section-3 .product-div-3 .bottom-part {
  background-color: #f1f1f1;
  border-radius: 8px;
  padding: 4.1rem 0 4.1rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
body main .section-3 .product-div-3 .bottom-part h2 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 2px;
  color: #000;
  text-transform: uppercase;
}
body main .section-3 .product-div-3 .bottom-part a {
  margin: 3.2rem 0 0;
}
body main .section-3 .product-div-3 .bottom-part a button {
  background-color: inherit;
  width: 16rem;
  height: 4.8rem;
  border: 2px solid #000;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  color: #000;
}
body main .section-3 .product-div-3 .bottom-part a button:hover {
  background-color: #000;
  color: #fff;
}
@media (min-width: 768px) {
  body main .section-3 .product-div-3 {
    flex-direction: row;
    gap: 11px;
  }
  body main .section-3 .product-div-3 .top-part {
    width: 100%;
    height: 32rem;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(../assets/home/tablet/image-earphones-yx1.jpg);
    background-size: cover;
  }
  body main .section-3 .product-div-3 .bottom-part {
    padding: 10.1rem 5.3rem 10.1rem 4.1rem;
  }
}
@media (min-width: 1440px) {
  body main .section-3 .product-div-3 {
    gap: 3rem;
  }
  body main .section-3 .product-div-3 .top-part {
    background-image: url(../assets/home/desktop/image-earphones-yx1.jpg);
    background-size: cover;
  }
  body main .section-3 .product-div-3 .bottom-part {
    padding-inline: 9.5rem 20rem;
  }
}
@media (min-width: 768px) {
  body main .section-3 {
    padding: 9.6rem 3.9rem 0 4rem;
    gap: 3.2rem;
  }
}
@media (min-width: 1440px) {
  body main .section-3 {
    padding: 16.8rem 16.5rem 0 16.5rem;
    gap: 4.8rem;
  }
}
body main .section-4 {
  padding: 12rem 2.4rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .section-4 picture img {
  max-width: 100%;
  border-radius: 8px;
}
body main .section-4 .text-content h2 {
  margin: 4rem 0 0;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.8rem;
  letter-spacing: 1px;
}
body main .section-4 .text-content h2 span {
  color: #d87d4a;
}
body main .section-4 .text-content p {
  max-width: 57.3rem;
  margin: 3.2rem 0 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
}
@media (min-width: 768px) {
  body main .section-4 {
    padding: 9.6rem 3.9rem 0;
  }
  body main .section-4 .text-content h2 {
    max-width: 57.3rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.4rem;
    letter-spacing: 1.4285714626px;
    margin: 6.3rem 0 0;
  }
}
@media (min-width: 1440px) {
  body main .section-4 {
    padding: 20rem 16.5rem 0;
    flex-direction: row-reverse;
    gap: 12.5rem;
    text-align: left;
  }
  body main .section-4 .text-content h2 {
    max-width: 44.5rem;
  }
  body main .section-4 .text-content p {
    max-width: 44.5rem;
  }
}
body footer {
  margin: 12rem 0 0;
  padding: 5.2rem 2.4rem 3.8rem;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  text-align: center;
}
body footer .footer-flex-top {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
body footer .footer-flex-top a img {
  margin: 0 auto;
}
body footer .footer-flex-top .footer-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body footer .footer-flex-top .footer-links a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 2px;
}
body footer .footer-flex-top .footer-links a:hover {
  color: #d87d4a;
}
body footer .big-p {
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
}
body footer .footer-flex-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}
body footer .footer-flex-bottom .small-p {
  font-size: 15px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0px;
}
body footer .footer-flex-bottom .social-links {
  display: flex;
  gap: 16px;
  align-items: center;
}
@media (min-width: 768px) {
  body footer {
    margin: 9.6rem 0 0;
    padding: 6rem 4rem 4.6rem 3.9rem;
    gap: 0;
  }
  body footer .footer-flex-top {
    gap: 3.2rem;
  }
  body footer .footer-flex-top a img {
    margin: 0;
  }
  body footer .footer-flex-top .footer-links {
    flex-direction: row;
    gap: 3.4rem;
  }
  body footer .big-p {
    margin: 3.2rem 0 0;
    text-align: left;
    max-width: 68.9rem;
  }
  body footer .footer-flex-bottom {
    margin: 8rem 0 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  body footer {
    margin: 20rem 0 0;
    padding: 7.5rem 16.5rem 4.8rem;
  }
  body footer .footer-flex-top {
    flex-direction: row;
    justify-content: space-between;
  }
  body footer .big-p {
    max-width: 54rem;
    margin: 3.6rem 0 0;
  }
  body footer .footer-flex-bottom {
    margin: 5.6rem 0 0;
  }
  body footer .footer-flex-bottom .social-links {
    position: relative;
    bottom: 7.7rem;
  }
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2.4rem;
}
.product .product-info {
  display: flex;
  gap: 16px;
}
.product .product-info .product-name-and-price {
  display: flex;
  flex-direction: column;
}
.product .product-info .product-name-and-price .product-name {
  font-size: 15px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 0px;
}
.product .product-info .product-name-and-price .product-price {
  font-size: 14px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
}
.product .mini-increase-decrease {
  width: 9.6rem;
  height: 3.2rem;
  padding: 0 11.5px;
  background-color: #f1f1f1;
  gap: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product .mini-increase-decrease button {
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}
.product .mini-increase-decrease button:hover,
.product .mini-increase-decrease button:active {
  color: #d87d4a;
}
.product .mini-increase-decrease p {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.products {
  position: absolute;
  top: 12.24rem;
  right: 2.4rem;
  left: 2.4rem;
  padding: 3.1rem 2.8rem;
  max-width: 100%;
  border-radius: 8px;
  background-color: #fff;
}
.products .number-of-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3.1rem;
}
.products .number-of-products h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 1.2857142687px;
}
.products .number-of-products p {
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
  text-decoration: underline;
  cursor: pointer;
}
.products .number-of-products p:hover {
  color: #d87d4a;
}
.products .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.2rem 0 0;
}
.products .total p {
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  letter-spacing: 0px;
  text-transform: uppercase;
}
.products .total .price {
  font-size: 18px;
  font-weight: 700;
}
.products a button {
  margin: 2.4rem 0 0;
  width: 100%;
  height: 4.8rem;
  border: none;
  cursor: pointer;
  background-color: #d87d4a;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}
.products a button:hover {
  background-color: #fbaf85;
}

@media (min-width: 425px) {
  .products {
    width: 37.7rem;
    right: 0;
    left: calc(100% - 37.7rem - 2.4rem);
  }
}
@media (min-width: 768px) {
  .products {
    top: 12.74rem;
    left: calc(100% - 37.7rem - 4rem);
  }
}
@media (min-width: 1440px) {
  .products {
    top: 12.64rem;
    left: calc(100% - 37.7rem - 16.5rem);
  }
}/*# sourceMappingURL=style.css.map */