* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

html {
  font-size: 62.5%;
}

header {
  padding-top: 3.2rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  border-bottom: 1px solid #979797;
}
header .tavi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7.6rem;
}
header .links {
  display: none;
  gap: 3.4rem;
}
header .links a {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2.5rem;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
}
header .links a:hover {
  color: #D87D4A;
}
header .cartIcon {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
header .hamburger {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
header nav {
  width: 3.5rem;
  display: flex;
  justify-content: space-around;
}

.first {
  background-image: url(../assets/home/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 10.8rem;
  padding-right: 2.4rem;
  padding-left: 2.3rem;
  padding-bottom: 11.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: black;
  text-align: center;
}
.first h3 {
  margin-left: 6.5rem;
  margin-right: 6.4rem;
  font-family: Manrope;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.9rem;
  letter-spacing: 1rem;
}
.first h1 {
  margin-top: 16rem;
  font-family: Manrope;
  font-size: 36rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 2px;
  margin-top: 2.4rem;
  font-size: 5.6rem;
  line-height: 5.8rem;
}
.first p {
  max-width: 34.9rem;
  margin-top: 2.4rem;
  font-family: Manrope;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0px;
}
.first a button {
  margin-top: 2.8rem;
  text-align: center;
  color: white;
  width: 16rem;
  height: 4.592rem;
  background-color: #D87D4A;
  border: none;
  cursor: pointer;
  font-family: Manrope;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  position: relative;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  header {
    padding-left: 3.9rem;
    padding-right: 4rem;
  }
  header.tavi {
    gap: 4.2rem;
  }
  .first {
    background-image: url(../assets/home/tablet/image-header.jpg);
    padding: 12.6rem 19.5rem 16.2rem 19.4rem;
  }
  .first h1 {
    margin-top: 2.4rem;
    font-size: 5.6rem;
    line-height: 5.8rem;
  }
  .first p {
    line-height: 2.5rem;
  }
  .first a button {
    margin-top: 4rem;
  }
}
@media (min-width: 1440px) {
  header {
    padding-left: 16.5rem;
    padding-right: 16.5rem;
  }
  header .links {
    display: flex;
  }
  header .hamburger {
    display: none;
  }
  .first {
    text-align: left;
    display: block;
    align-items: flex-start;
    padding: 12.8rem 0 15.8rem 16.5rem;
    background-image: url(../assets/home/desktop/image-hero.jpg);
    background-size: cover;
    background-position: center;
  }
  .first h3 {
    margin-left: 0;
  }
  .first h1 {
    margin-top: 2.4rem;
  }
  .first p {
    line-height: 2.5rem;
  }
  .first .butt {
    margin-top: 4rem;
  }
}
.second {
  display: flex;
  flex-direction: column;
  gap: 6.8rem;
  margin: 9.2rem 5.2% 0 5.2%;
}
.second .suii {
  border-radius: 10px;
  padding-top: 8.8rem;
  margin: auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F1F1F1;
  position: relative;
}
.second .suii .cr7 {
  width: 14rem;
  height: 10.4rem;
  position: absolute;
  top: -5.2rem;
  transform: translateX(-50%);
}
.second .suii .rma {
  justify-content: center;
  padding-top: 1.7rem;
  padding-bottom: 2.2rem;
  display: flex;
  gap: 1.3rem;
  text-decoration: none;
}
.second .suii .rma p {
  font-family: Manrope;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 2px;
  color: black;
}
.second .suii h3 {
  font-family: Manrope;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.1rem;
  letter-spacing: 2px;
  color: black;
  text-decoration: none;
}

@media (min-width: 768px) {
  .second {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 14.8rem 5.2% 0 5.2%;
    padding: 0;
  }
  .second .suii {
    width: 29%;
    height: 21%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F1F1F1;
    position: relative;
  }
  .second .suii .rma {
    text-decoration: none;
  }
  .second .suii .cr7 {
    width: 8.4rem;
    height: 10.1rem;
    position: absolute;
    top: -5.2rem;
    transform: translateX(0);
  }
}
@media (min-width: 1440px) {
  .second {
    margin: 12.7rem 11.5% 0 11.5%;
  }
  .second .suii .cr7 {
    width: 12.2rem;
    height: 16rem;
    top: -8rem;
  }
}
.third {
  border-radius: 10px;
  margin: 0 5.2% 0 5.2%;
  width: 89.6%;
  height: 60rem;
  background-color: #D87D4A;
  margin-top: 9.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third img {
  margin-top: 5.2rem;
  width: 19.7rem;
  height: 23.7rem;
}
.third .third3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.third .third3 h1 {
  width: 28rem;
  height: 8rem;
  padding-top: 3.2rem;
  color: #FFFFFF;
  font-family: Manrope;
  font-size: 3.6rem;
  letter-spacing: 1.3px;
  line-height: 4rem;
}
.third .third3 p {
  width: 28rem;
  height: 7.5rem;
  padding-top: 2.4rem;
  font-family: Manrope;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  opacity: 75%;
}
.third .third3 a {
  margin-top: 2.4rem;
}
.third .third3 a button {
  font-family: Manrope;
  width: 16rem;
  height: 4.8rem;
  background-color: black;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  margin-left: 8.3rem;
  margin-right: 8.3rem;
}

@media (min-width: 768px) {
  .third {
    margin: 0 5.2% 0 5.2%;
    width: 89.6%;
    height: 72rem;
    background-color: #D87D4A;
    margin-top: 12rem;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .third .third3 p {
    width: 34.9rem;
    height: 7.5rem;
    padding-top: 2.4rem;
  }
  .third .third3 a button {
    margin-top: 4rem;
    margin-bottom: 6.4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}
@media (min-width: 1440px) {
  .third {
    flex-direction: row;
    margin-left: 11.5%;
    margin-right: 11.5%;
    width: 77%;
    height: 56rem;
    background-color: #D87D4A;
    margin-top: 16.8rem;
  }
  .third img {
    margin-left: 11.7rem;
    margin-top: 9.6rem;
    width: 41rem;
    height: 49.3rem;
  }
  .third .third3 {
    align-items: flex-start;
  }
  .third .third3 h1 {
    text-align: left;
    width: 28rem;
    height: 8rem;
    padding-top: 3.2rem;
    color: #FFFFFF;
    font-family: Manrope;
    font-size: 3.6rem;
    letter-spacing: 1.3px;
    line-height: 4rem;
  }
  .third .third3 p {
    text-align: left;
    width: 28rem;
    height: 7.5rem;
    padding-top: 2.4rem;
    font-family: Manrope;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.5rem;
    opacity: 75%;
  }
  .third .third3 a button {
    margin: 0%;
    padding-left: 0%;
    font-family: Manrope;
    width: 16rem;
    height: 4.8rem;
    margin-top: 2.4rem;
    background-color: black;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
  }
}
.fourth {
  border-radius: 10px;
  margin: 2.4rem 5.2% 0 5.2%;
  width: 89.6%;
  height: 32rem;
  background-color: #F1F1F1;
  background-image: url(../assets/home/mobile/image-speaker-zx7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.fourth h1 {
  padding-left: 2.4rem;
  padding-top: 10rem;
  font-weight: 700;
  color: black;
  font-family: Manrope;
  font-size: 2.8rem;
  letter-spacing: 2px;
  line-height: 4rem;
}
.fourth button {
  margin-left: 2.5rem;
  border: 1px solid black;
  font-family: Manrope;
  width: 16rem;
  height: 4.8rem;
  color: black;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .fourth {
    width: 89.6%;
    margin: 3.2rem 5.2% 0 5.2%;
    background-image: url(../assets/home/tablet/image-speaker-zx7.jpg);
  }
  .fourth h1 {
    padding-left: 6.2rem;
    padding-top: 10rem;
  }
  .fourth button {
    margin-left: 6.3rem;
  }
}
@media (min-width: 1440px) {
  .fourth {
    margin-left: 11.5%;
    margin-right: 11.5%;
    width: 77%;
    height: 32rem;
    margin: 4.8rem 11.5% 0 11.5%;
    background-image: url(../assets/home/desktop/image-speaker-zx7.jpg);
  }
  .fourth h1 {
    padding-left: 9.5rem;
    padding-top: 10rem;
  }
  .fourth button {
    margin-left: 9.6rem;
  }
}
.fifth {
  margin: 2.4rem 5.2% 0 5.2%;
  width: 89.6%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.fifth .photo {
  border-radius: 10px;
  background-image: url(../assets/home/mobile/image-earphones-yx1.jpg);
  background-repeat: no-repeat;
  height: 20rem;
  background-size: cover;
}
.fifth .yx1 {
  border-radius: 10px;
  height: 20rem;
  background-color: #F1F1F1;
}
.fifth .yx1 h1 {
  padding-left: 2.4rem;
  padding-top: 4.1rem;
  font-weight: 700;
  color: black;
  font-family: Manrope;
  font-size: 2.8rem;
  letter-spacing: 2px;
  line-height: 4rem;
}
.fifth .yx1 button {
  margin-top: 3.2rem;
  background-color: #F1F1F1;
  margin-left: 2.5rem;
  border: 1px solid black;
  font-family: Manrope;
  width: 16rem;
  height: 4.8rem;
  color: black;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .fifth {
    width: 89.6%;
    margin: 3.2rem 5.2% 0 5.2%;
    display: flex;
    flex-direction: row;
    gap: 1.1rem;
  }
  .fifth .photo {
    background-image: url(../assets/home/tablet/image-earphones-yx1.jpg);
    height: 32rem;
    width: 50%;
    background-repeat: no-repeat;
  }
  .fifth .yx1 {
    height: 32rem;
    width: 50%;
    background-color: #F1F1F1;
  }
  .fifth .yx1 h1 {
    padding-left: 4.1rem;
    padding-top: 10rem;
  }
  .fifth .yx1 button {
    margin-left: 4.2rem;
  }
}
@media (min-width: 1440px) {
  .fifth {
    margin: 4.8rem 11.5% 0 11.5%;
    width: 77%;
    display: flex;
    flex-direction: row;
  }
  .fifth .photo {
    background-image: url(../assets/home/desktop/image-earphones-yx1.jpg);
    background-size: cover;
    width: 50%;
    height: 32rem;
  }
  .fifth .yx1 {
    width: 50%;
    height: 32rem;
  }
  .fifth .yx1 h1 {
    padding-left: 9.5rem;
    padding-top: 10rem;
  }
  .fifth .yx1 button {
    margin-top: 3.2rem;
    background-color: #F1F1F1;
    margin-left: 9.6rem;
  }
}
.sixth {
  margin: 12rem 5.2% 0 5.2%;
  width: 89.6%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sixth .photo {
  border-radius: 10px;
  background-image: url(../assets/shared/mobile/image-best-gear.jpg);
  background-repeat: no-repeat;
  height: 32.7rem;
  width: 100%;
  background-size: cover;
}
.sixth .audiogear {
  display: flex;
  flex-direction: column;
}
.sixth .audiogear h1 {
  padding-top: 4rem;
  padding-left: 10px;
  text-align: center;
  font-weight: 700;
  color: black;
  font-family: Manrope;
  font-size: 2.8rem;
  letter-spacing: 1px;
  line-height: 4rem;
}
.sixth .audiogear p {
  text-align: center;
  margin-top: 3.2rem;
  font-family: Manrope;
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  .sixth {
    width: 89.6%;
    margin: 9.6rem 5.2% 0 5.2%;
    display: flex;
    align-items: center;
    flex-direction: colomn;
    gap: 6.3rem;
  }
  .sixth .photo {
    background-image: url(../assets/shared/tablet/image-best-gear.jpg);
    background-repeat: no-repeat;
    height: 30rem;
    width: 100%;
    background-size: cover;
  }
  .sixth .audiogear {
    display: flex;
    flex-direction: column;
    margin: 0 5.8rem 0 5.8rem;
  }
  .sixth .audiogear h1 {
    padding-top: 0;
    padding-left: 0;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 1.4px;
    line-height: 4.4rem;
  }
  .sixth .audiogear p {
    margin-top: 3.2rem;
  }
}
@media (min-width: 1440px) {
  .sixth {
    margin: 4.8rem 11.5% 0 11.5%;
    width: 77%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 11.4%;
  }
  .sixth .photo {
    background-image: url(../assets/shared/desktop/image-best-gear.jpg);
    background-repeat: no-repeat;
    height: 58.8rem;
    width: 48.6%;
    background-size: cover;
  }
  .sixth .audiogear {
    margin: 25% 0 0 0;
    height: 58.8rem;
    width: 40%;
    display: flex;
    flex-direction: column;
  }
  .sixth .audiogear h1 {
    padding-top: 0;
    padding-left: 0;
    text-align: left;
    font-size: 4rem;
    letter-spacing: 1.4px;
    line-height: 4.4rem;
  }
  .sixth .audiogear p {
    text-align: left;
  }
}
footer {
  padding: 0 0 3.8rem 0;
  margin-top: 12rem;
  width: 100%;
  background-color: black;
  text-align: center;
}
footer .head {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .head img {
  margin-top: 5.2rem;
  width: 14.3rem;
  height: 2.5rem;
}
footer .head .links {
  margin-top: 4.8rem;
  display: flex;
  gap: 1.6rem;
  flex-direction: column;
}
footer .head .links a {
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: Manrope;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
}
footer p {
  max-width: 87%;
  margin: 4.8rem 6.4% 0 6.4%;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 50%;
}
footer .foot {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  text-align: center;
  align-items: center;
}
footer .foot h6 {
  color: #FFFFFF;
  opacity: 50%;
  font-family: Manrope;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
}
footer .foot .socialmedia {
  display: flex;
  gap: 1.6rem;
}

@media (min-width: 768px) {
  footer {
    padding: 0 4rem 4.6rem 4rem;
    margin-top: 9.6rem;
    width: 100%;
    background-color: black;
    text-align: left;
  }
  footer .head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .head img {
    margin-top: 6rem;
    width: 14.3rem;
    height: 2.5rem;
  }
  footer .head .links {
    margin-top: 4.8rem;
    display: flex;
    gap: 3.4rem;
    flex-direction: row;
  }
  footer p {
    text-align: left;
    max-width: 87%;
    margin: 3.2rem 6.4% 0 0;
  }
  footer .foot {
    margin-top: 4.8rem;
    display: flex;
    flex-direction: row;
    gap: 42.5%;
    text-align: center;
  }
  footer .foot .socialmedia {
    display: flex;
    gap: 1.6rem;
  }
}
@media (min-width: 1440px) {
  footer {
    padding: 0 11.5% 0 11.5%;
    margin-top: 7.5rem;
    width: 77%;
    background-color: black;
    text-align: left;
  }
  footer .head {
    margin-top: 7.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .head img {
    width: 14.3rem;
    height: 2.5rem;
  }
  footer .head .links {
    height: 2.5rem;
    display: flex;
    gap: 3.4rem;
    flex-direction: row;
  }
  footer p {
    text-align: left;
    max-width: 37.5%;
    margin-top: 3.6rem;
  }
  footer .foot {
    margin-top: 0;
    padding-bottom: 4.8rem;
    justify-content: space-between;
  }
  footer .foot h6 {
    padding-top: 5.6rem;
  }
  footer .foot .socialmedia {
    padding-right: 0;
    padding-bottom: 13.8rem;
  }
}/*# sourceMappingURL=style.css.map */