*{
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html,body{
    width: 100%;
}

header {
    padding-top: 32px;
    padding-left:24px ;
    padding-right:24px ;
    padding-bottom:32px ;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: black;
     color: white;
     border-bottom:1px solid #979797 ;
     .links{
        display: none;
        gap: 34px;
        a{
            font-size: 13px;
            font-weight: 700;
            line-height: 25px;
            letter-spacing: 2px;
            color: white;
            text-decoration: none;
        }
        a:hover{
            color: #D87D4A;
        }
     }
     .cartIcon,.hamburger{
            background-color: inherit;
            border: none;
            cursor: pointer;
     }
     nav {
         width: 35px;
         display: flex;
         justify-content: space-around;
        
     }
     
   }
   .first{
   
    background-image: url(../assets/home/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size: cover;
    background-position: center;
    padding-top: 108px;
    /* margin-left: 23px; */
    /* margin-right: 24px; */
    padding-right: 24px;
    padding-left: 23px;
    color: white;
    background-color: black;
    height: 510px;
    
    h3{
        margin-left: 65px;
        margin-right: 64px;
        font-family: Manrope;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 10px;
        text-align: left;
    }
    h1{
            /* margin-left: 22px; */
    /* margin-right: 25px; */
    margin-top: 16px;
    font-family: Manrope;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    }
    p{
          /* margin-left: 22px; */
    /* margin-right: 25px; */
    max-width: 349px;
    margin-top: 24px;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0px;
    text-align: center;
    }
    a{
        button{     margin-left: 84px;
            margin-right: 84px;
            margin-top: 28px;
            text-align: center;
            color: white;
            width: 160px;
            height: 45.92px;
            background-color: #D87D4A;
            border: none;
            cursor: pointer;
            font-family: Manrope;
            font-size: 13px;
            font-weight: 700;
            line-height: 18px;
            position: relative;
            letter-spacing: 1px;
            
        }
    }
   }
   @media (min-width: 768px) {

}
    @media(min-width: 1440px){
        header{
            .links{
                display: flex;
            }
            .hamburger{
                display: none;
            }
    }
}
